<div class="wrapper">
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
    <div class="label">
        <img src="/assets/graft-black.png" class = "logo_img" />
        <p class="contact">
            <span>graftchs.com</span> @graftchs
        </p>
        <p class="wine_info">
            <%= @label.wine_info %>
        </p>
        <p class="grapes">
            <%= @label.grapes %>
        </p>
        <p class="regions">
            <%= @label.regions %>
        </p>
    </div> 
</div>


    <!-- <div class="page-break"></div> -->